.container {
  min-height: 100vh;
  padding: 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  background: #536272 url('https://static.scientificamerican.com/sciam/cache/file/4E0744CD-793A-4EF8-B550B54F7F2C4406_source.jpg?w=590&h=800&ACB6A419-81EB-4B9C-B846FD8EBFB16FBE') no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  margin-top: 1rem;
  padding: 3rem 0;
  width: 95%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  background: #ca1e1e;
  color: #ffffff;
  position: fixed;
  left: 35%;
  width: 30vw;
  justify-self: center;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;
}

.input, .button {
  height: 1.5rem;
  margin: 1.5rem 1rem;
  color: #ffffff;
}



.input, .input:focus {
  border: none;
  background: transparent;
  box-shadow: none;
  outline: none;
  border-bottom: 1px solid #ffffff;
}

.input::placeholder {
  color: #b6a5a5;
}

.button {
  color: #ffffff;
  background: #dd8c49;
  border: 1px solid #dd8c49;
  outline: none;
  border-radius: 10px;
}

.button:hover {
  background: #f89747;
  transform: scale(1.1);
}

.city {
  font-size: 1.3rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 100%;
  margin-top: 3rem;
}

.card {
  margin: 0.5rem;
  flex-basis: 20%;
  padding: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  border-color: #4cc4c0;
  transform: scale(1.1);
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
  text-align: center;
}
.card h1 {
  font-size: 2.3rem;
  text-align: center;
}
.card h2 {
  text-align: center;
}
.card span {
  font-size: 0.7rem;
}

.card p {
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.2;
  max-width: 90%;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .card {
    width: 90%;
  }
  .button {
    margin-top: -1.5rem;
  }
  .error {
    width: 80vw;
    position: fixed;
    left: 10vw;
  }
}
